.filter_bk {
    background: #f0f0f0;
    border: 1px solid #ccc;
    padding: 15px 20px;
    box-sizing: border-box;
}

.multiselect {
    border: 1px solid #ced4da;
    font-size: 14px;
    width: 100%;
    text-align: left;
    background: #fff;
}

.btn-group {
    width: 100%;
}

.dropdown-toggle::after {
    float: right;
    margin-top: 11px;
}


/*.top_in_op h1 {
    font-size: 30px;
    color: #0088cc;
    text-align: center;
    margin: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.top_in_op p {
    font-size: 14px;
    color: #808f97;
    margin-top: 10px;
}*/

.tp_tt_blk .top_in_op {
    padding-right: 15px;
    padding-left: 15px;
}

.bor_lf_none .top_in_op {
    border-left: none;
}
.res_tbl .col-sm-12 {
    overflow: auto;
}
.res_tbl table {min-width: 1000px;}
.form-group {
    margin-bottom: 0px!important;
}

.mar_btm {
    margin-bottom: 20px;
}

.modal-backdrop {
    opacity: 0.5
}

.modal_footer {
    text-align: center;
    border-top: 0px;
    padding-bottom: 40px;
}

.modal-body h1,
.modal-body p {
    text-align: center;
}

.multiselect-container>li>a>label {
    padding-left: 20px!important;
}

.hdg_bk {
    width: calc(100% - 20px);
}

.show_cat {
    position: relative;
    display: inline-block;
    padding: 3px 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.category_blk {
    position: absolute;
    display: none;
    top: 29px;
    z-index: 999;
    left: -1px;
    width: 200px;
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;
    background: #e2e2e2;
    border: 1px solid #ccc;
    border-top: none;
}

.show_cat:hover {
    background: #e2e2e2;
}

.txt_cnt {
    text-align: center;
}

.category_blk ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.category_blk ul li {
    margin: 10px 0px;
    display: block;
}

.brd_ls {
    margin-bottom: 20px;
}

.brd_ls .col-md-2 {
    padding: 0px!important;
}
.popover a {display: block;}
.brd_ls .top_in_op {
    padding-right: 15px;
    cursor: inherit;
    padding-left: 15px;
}

.bor_lf_none .top_in_op {
    border-left: none;
}

.filter_bk {
    margin-bottom: 20px;
}

#brd_lst_tbl {
    margin-top: 0px!important;
}
