.sle_cr_r {
       width: calc(100% - 350px);
    transition: all linear 0.2s;
    margin-left: 10px;
    float: left;
    background: #fff;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 12px;
    min-height: 994px;
}
#guestlink {border: none!important; width: auto!important;}
.add_more {text-align: right; width: 100%; font-size: 13px; margin-top:20px; margin-bottom: 10px;}
/*.ad_frm .per_dtls {padding: 0px!important;}*/
.cat_blk_nn .hdg_bk {padding: 15px 20px; font-weight: normal;}
.ad_frm .ord_comp_bl {padding-right: 0px!important;}
.cr_st_usr {/*color: #fff!important;*/ font-size: 13px;
margin-top: 30px;
display: block;
margin-left: 20px;
text-decoration: underline;}
.select2-container--default.select2-container--disabled .select2-selection--single {background: #fff!important;}
.pp_clss {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.5;
    transition: all linear 0.2s;
}
.bank_list {
    position: relative;
    height: 235px;
    overflow: auto;
    padding-left: 20px;
}
.crp_list {padding-left: 20px; overflow: auto; width: 100%; position: relative;}
.bank_list_pos, .crp_list_pos {
    position: absolute;
    overflow: hidden;
}
.slc_usr {min-width: 116px;}
.bank_dtl_blk, .crp_dtl_blk {
    width: 400px;
    position: relative;
    float: left;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    background: #f8f8f8;
}
.pp_clss:hover {
    opacity: 1;
}
.crp_list {height: 182px;}
.remove, .remove_conf, .crp_conf, .crp_remove img {
    width: 20px;
}
.border-lable-flt label, .border-lable-flt > span {font-weight: normal!important;}
#create_module .modal-dialog {max-width: 900px;}
.remove, .remove_conf, .crp_conf, .crp_remove {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    cursor: pointer;
}
.ord_comp_bl {
    max-height: 450px;
    width: 100%;
    padding-right: 14px;
    overflow: auto;
}
.pop_blk_prive, #invoice_preview_modal .panel-footer, #invoice_preview_modal .panel-heading {padding:0px 30px 30px 30px; width: 100%; box-sizing: border-box;}
#invoice_preview_modal .panel-heading {padding-bottom: 0px; padding-top: 30px;}
#invoice_preview_modal .panel-footer { padding-top: 30px;}
#invoice_preview_modal tbody {background: #fff;}
.pop_blk_prive {max-height: 400px; overflow: auto;}
.btn {font-size: 13px;}
.modal-dialog {max-width: 700px;}
.show_note textarea {border: 1px solid #ced4da; font-size: 13px; padding:5px 10px; box-shadow: none; outline: none; box-sizing: border-box;}
.note_add { margin-bottom: 5px;    font-size: 13px;}
.sale_rt {
    width: 320px;
    transition: all linear 0.2s;
    min-height: calc(100% - 70px);
    top: 61px;
    right: 10px;
    /*overflow-x: hidden;*/
    background: #fff;
    position: absolute;
    padding: 25px;
    box-sizing: border-box;
    padding-bottom: 0px;
}
.sale_rt .check_list {width: 100%;}
.sale_rt .create_hdg {margin-bottom: 15px;}
.sale_rt .checkbox input {
	position: relative;
    bottom: -1px;
    margin-right: 5px;
}
.sale_rt .checkbox {
font-size: 13px;
margin-bottom: 15px;
}
.assign_type {
    width: auto;
    list-style: none;
    position: relative;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    display: table;
}
#create_module .cat_blk_nn .hdg_bk {padding: 0px 20px 0px 20px; margin-bottom: 15px; margin-top: 10px; border: none!important;}
#create_module .cat_blk_nn {margin-bottom: 5px;}
.assign_type li {
    width: 98px;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 0px 0px 0px rgba(0,123,255,0);
    transition: all linear 0.2s;
    float: left;
    margin-right: 10px;
    height: 73px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    text-align: center;
}
.assign_type li.act_type {
    border-color: #7abaff;
    box-shadow: 5px 5px 5px -1px rgba(0,123,255,0.10);
    position: relative;
}
.check_wt_serc .check_list {height: auto;}
.admin_bank_li .check_list {height: 200px;}
.admin_bank_li {width: 200px;}
.assign_type li img {
    margin-top: 8px;
}
.assign_type li input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.assign_type li span {
    display: block;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}
.create_ul {
    padding: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    display: table;
    width: 100%; list-style: none;
}
.create_li {
    float: left;
    position: relative;
    height: 45px;
    margin-right: 10px;
    list-style: none;
}
.create_ul .create_li {height:55px;}
.err_msg {position: absolute;bottom: -10px; right: 5px; font-size: 11px; color: #dc3545 }
.create_ul .err_msg {bottom:0px;}
.sa_lst {width: 100%;
    margin-bottom: 20px;
    border-top: 1px solid #e6e9ec;
    border-bottom: none;
    min-width: 620px;
    border-right: 1px solid #e6e9ec;
}
.dele_th_td {width: 80px; text-align: center;}
.sa_lst th, .sa_lst td {
    background: none;
    padding: 5px 15px;
    border-bottom: 1px solid #e6e9ec;
    border-left: 1px solid #e6e9ec;
}

.sa_lst th {
    border-top: 1px solid #e6e9ec;
}
.sa_lst th:first-child, .sa_lst tr td:first-child {
    border-left: 1px solid #e6e9ec;
}
.sa_lst input[type=text] {
    width: 100%;
    color: #58666e;
    border: none;
}
.create_hdg .ttl {float: left;
    margin-top: 18px!important;
    margin-right: 10px;}
 .res_tbl {margin-bottom: 20px;}
 .create_hdg span {margin-top: 10px;}
 .create_hdg {overflow: hidden;}
 .create_hdg .sm_blk {top: 10px;} 
 .create_hdg .inp_ss .sm_blk {top: -6px;}
 .txt_rt {text-align: right;}
 .txt_cnt {text-align: center;}
 .txt_rt input {text-align: right;}
 .txt_cnt input {text-align: center;}
 .qty, .disc {width: 80px;}
 .mrp {width: 130px;}
 .ttl_prc {width: 150px;}
 .date {width: 120px;}
 .trans_inf {
    list-style: none;
    width: 100%;
    display: table;
    margin: 0px;
    padding: 0px;
}
.trans_inf li {
    display: inline-block;
    float: left;
    margin-right: 10px;
    height: 45px;
}

.bank_logo {
    width: 30px;
    float: left;
    position: relative;
    bottom: 5px;
}
.admin_bank_li .bank_logo {
    bottom: -5px;
}
.bank_mny {
    width: calc(100% - 30px);
    float: left;
    padding-left: 20px;
}
.bnk_tr .admin_bank_li .check_list {top: auto; bottom: 34px;}
.admin_bank_li .form-check input {
    display: none;
}
.admin_bank_li .check_list .form-check {padding-left: 0px!important;}
.po_ftr {
    width: 100%;
    text-align: right;
    display: table;
}
.sb_btn {
    width: 115px;
    margin-top: 20px;
    font-size: 13px;
}
.sale_rt .create_li {width: 100%; margin-right: 0px;}
.mar_sale_ttl {margin-top: 20px; min-width: 400px; width: 400px; float: right;}
#create_module .per_dtls {border: none!important;}
@media (max-width: 1200px){
	.sale_rt {width: 300px}
	.sle_cr_r {width: calc(100% - 330px); margin-top: 0px;}
	.create_li {min-width: 150px;}
	.trans_inf li {min-width: 120px;}
}
@media (max-width: 1000px){
	.sale_rt {width: 100%; position: relative; top: 0px; right: 0px;}
	.sle_cr_r {width: 100%; margin-top: 10px; margin-left: 0px;}
	.sale_rt .create_li {width: 50%; padding: 0px 5px; box-sizing: border-box;}
	.check_wt_serc {padding-right: 0px; width: 100%; max-width: 100%;}
	.ttl_prc{width: 120px;}
	.mrp { width: 100px;}
	}
@media (max-width: 500px){ 
	.sale_rt .create_li {padding: 0px; width: 100%;}
}