<<<<<<< HEAD
.lgoin_main {width: 598px; margin: 0px auto;  position: relative; margin-top: 60px; right: -56px;}
.login_blk {width: 487px; background: #fff;padding: 60px 60px 60px 60px; border-radius: 10px; box-sizing: border-box;}
body {background: #373c4f;}
.login_blk h1 {font-size: 30px; color: #40586f; margin-bottom:30px; }
.login_blk input {font-size: 14px; font-family: 'Helvetica-Normal'; height: 48px; padding: 0px 20px;}
.submit_btn {width: 100%; font-size: 14px; transition: all linear 0.2s; height: 48px; background: #0188cc!important; color: #fff;}
.submit_btn:hover {background: #f34103!important; color: #fff;}
.ch_pw {margin-top: 20px; font-size: 14px; color: #0188cc; cursor: pointer; text-decoration: underline;}
.modal-title {font-size: 16px;}
.modal-body {padding: 30px;}
.err_msg{font-size: 12px; color: red;}
@media (max-width: 598px){
	.shad_img {display: none;}
	.lgoin_main {width: 100%; right: 0px; border-radius: 0px;}
	.login_blk {margin: 0px auto; padding-bottom: 60px; margin-top: 10px;}
}

@media (max-width: 500px){ 
	.lgoin_main {padding: 10px; margin: 0px; box-sizing: border-box;}
	.login_blk {width:100%; padding: 20px 20px 20px 20px;}
=======
.lgoin_main {width: 598px; margin: 0px auto;  position: relative; margin-top: 60px; right: -56px;}
.login_blk {width: 487px; background: #fff;padding: 60px 60px 60px 60px; border-radius: 10px; box-sizing: border-box;}
body {background: #373c4f;}
.login_blk h1 {font-size: 30px; color: #40586f; margin-bottom:30px; }
.login_blk input {font-size: 14px; font-family: 'Helvetica-Normal'; height: 48px; padding: 0px 20px;}
.submit_btn {width: 100%; font-size: 14px; transition: all linear 0.2s; height: 48px; background: #0188cc!important; color: #fff;}
.submit_btn:hover {background: #f34103!important; color: #fff;}
.ch_pw {margin-top: 20px; font-size: 14px; color: #0188cc; cursor: pointer; text-decoration: underline;}
.modal-title {font-size: 16px;}
.modal-body {padding: 30px;}
.err_msg{font-size: 12px; color: red;}
@media (max-width: 598px){
	.shad_img {display: none;}
	.lgoin_main {width: 100%; right: 0px; border-radius: 0px;}
	.login_blk {margin: 0px auto; padding-bottom: 60px; margin-top: 10px;}
}

@media (max-width: 500px){ 
	.lgoin_main {padding: 10px; margin: 0px; box-sizing: border-box;}
	.login_blk {width:100%; padding: 20px 20px 20px 20px;}
>>>>>>> 879a1b5b54a411bf1c5dde2c628913c9b8ea40b0
}