<<<<<<< HEAD
body {font-family: 'Roboto', sans-serif; color: #58666e}
.left_blk {width: 90px; z-index: 99; padding: 10px; transition: all linear 0.2s; box-sizing: border-box; position: fixed; height: 100%; background:#373c4f;}

.left_blk ul {list-style: none; margin: 0px; margin-top: 20px; padding: 0px;}
.left_blk li {margin-bottom: 20px; overflow: hidden; text-align: center;}
.left_blk:hover li {text-align: left;}
.logo {margin-bottom: 20px; border-bottom: 1px solid #565c72; padding-bottom: 20px;}
.logo img {width: 70px;}
.left_blk li a {font-size: 14px; display: block; width: 100%; text-decoration: none!important; display: inline-block; color: #b4b6bd;}
.left_blk li a.act, .left_blk li a:hover {color: #fff;}
.left_blk li a span {width: 0px; overflow: hidden; opacity: 0; transition: all linear 0.1s; display: inline-block;}
.left_blk li a i {opacity: 0.5; width: 27px; transition: all linear 0.2s;}
.left_blk li a.act i, .left_blk li a:hover i {opacity: 1}
/*.left_blk:hover li a i {opacity: 0; width: 0px; display: none;}*/
.left_blk:hover li a span{width:calc(100% - 32px)!important; opacity: 1; position: relative; top: 8px;}
.blue_text {color: #007bff}
.act_icn {cursor: pointer;}
.fr {float: right;}
.dropdown-menu {width: 100%!important;}
.multiselect-container>li>a>label {
    padding-left: 20px!important;
    padding-top: 10px!important;
}
input[type=checkbox], input[type=radio] {height: auto!important;}
body {color: #58666e; font-size: 14px;}
table, .table {font-size: 14px; color: #58666e;}
.right_blk {width: calc(100% - 90px); transition: all linear 0.2s; right: 0px; box-sizing: border-box; background: #f0f1f5; position: fixed; height: 100%; overflow: auto;}

.card_view {width: 100%; background: #fff; border-radius:5px; }
.padding_30 {padding: 30px; box-sizing: border-box;}
.top_ttl_blk {font-size: 16px; color: #58666e; margin-bottom: 0px;width: 100%; box-sizing: border-box; background: #f8f8f8; border-bottom: 1px solid #ddd; padding:15px 30px;}
.over_flw {overflow: hidden;}
.mnu_blk {position: absolute; display: none; top: 25px; cursor: pointer; right: 20px; padding: 10px 0px;}
.menu_icn {position: relative; transition: all linear 0.2s; background: #fff; height:2px; width: 25px;}
.menu_icn:after {content: ' '; transition: all linear 0.2s; position: absolute; top: -8px; left: 0px; width: 25px; height: 2px; background: #fff;}
.menu_icn:before {content: ' '; opacity: 1; transition: all linear 0.2s; position: absolute; bottom: -8px; left: 0px; width: 25px; height: 2px; background: #fff;}
.dis_blk {display: block!important;}
.act_menu .menu_icn:before {opacity: 0;}
.act_menu .menu_icn:after {transform: rotate(84deg); margin-top: 8px;}
.act_menu .menu_icn {transform: rotate(140deg);}
.hdg_bk {padding-bottom: 15px; color: #373c4f; font-weight: bold; overflow: hidden; width: 100%; margin-bottom: 20px; border-bottom: 1px solid #ddd; font-size: 16px;}
.form-group label {font-size: 13px; display: block; font-weight: bold;}
.slct_box {position: relative;}
.fr {float: right;}
.hdg_bk a {font-size: 13px; position: relative; bottom: -4px;}
.top_ttl_blk span {padding-top: 5px; display: inline-block;}
.top_ttl_blk span img {display: block;}
.back_btn {position: relative; bottom: -3px; margin-right: 5px; cursor: pointer;}
.slct_box:after, .arrow_box:before {
	top: 45px;
	right: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.top_ttl_blk a {color: #fff!important; font-size: 14px!important;}
input, select {box-shadow: none!important; outline: none; font-size: 14px!important;}
.org_clr {color: #fb7c00;}
.slct_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #373c4f;
	border-width: 4px;
	margin-left: -4px;
}
.slct_box:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #;
	border-width: 21px;
	margin-left: -21px;
}
.fl {float: left;}
.grn_clr {color: green}
.slct_box select {border: 1px solid #ced4da; -moz-appearance: none;
-webkit-appearance: none; padding: 0px 15px; font-size: 14px; color:#495057; width: 100%; height: 40px; border-radius: .25rem;}
.action_list {margin: 0px; list-style: none; padding: 0px; overflow: hidden;}
.action_list li {float: left;}
.table th {border-bottom: none!important;}
.filter {cursor: pointer;}
.alpha_blk {position: fixed; cursor: pointer; width: 100%; display: none; z-index: 9999; height: 100%; top: 0px; left: 0px; background: rgba(0,0,0,0.5);}
.side_popup {width: 0px; overflow: auto; transition: all linear 0.2s; z-index: 99999; background: #fff; height: 100%; position: fixed; right:0px; top: 0px; }
.opn_slide {width: 460px!important; max-width: 100%; box-sizing: border-box;}
.top_in_op {
    width: 100%;
    text-align: center;
    margin-top: 22px;
    border-left: 1px solid #e9e6e5;
    box-sizing: border-box;
    margin-bottom: 0px;
    cursor: pointer;
}
.res_tbl {max-width: 100%; padding-right: 15px; overflow: auto;}
.top_in_op p {
    font-size: 14px;
    color: #808f97;
    margin-top: 10px;
}
.top_in_op h1 {
    font-size: 30px;
    color: #0088cc;
    text-align: center;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.multiselect {
    border: 1px solid #ced4da;
    font-size: 14px;
    width: 100%;
    text-align: left;
    background: #fff;
}
.modal-body p {
    margin: 0px!important;
}

.modal_footer {
    text-align: center;
    border-top: 0px;
    padding-bottom: 40px;
}

.modal-body {
    padding-top: 40px;
}
.btn-group {
    width: 100%;
}
.dropdown-toggle::after {
    float: right;
    margin-top: 11px;
}
.multiselect-container>li>a>label {padding: 10px 20px 3px 20px!important;}
.multiselect-container>li>a>label>input[type=checkbox] {margin-right: 5px;}
@media(min-width: 701px){
    .left_blk:hover {width: 220px!important; padding:10px 30px;}
    .left_blk:hover ~ .right_blk {width: calc(100% - 220px);}
    }

@media(max-width: 700px){
	.left_blk, .right_blk {width: 100%!important; float: none; position: relative!important;}
	.left_blk {padding: 10px 20px;}
	.left_blk ul {display: none;}
	.logo {padding-bottom: 0px; margin-bottom: 0px; border-bottom: none;}
	.logo img {width: 80px;}
	.mnu_blk {display: block;}

}
.control-label.required:before {
  content:"*";color:red;
=======
body {font-family: 'Roboto', sans-serif; color: #58666e}
.left_blk {width: 90px; z-index: 99; padding: 10px; transition: all linear 0.2s; box-sizing: border-box; position: fixed; height: 100%; background:#373c4f;}

.left_blk ul {list-style: none; margin: 0px; margin-top: 20px; padding: 0px;}
.left_blk li {margin-bottom: 20px; overflow: hidden; text-align: center;}
.left_blk:hover li {text-align: left;}
.logo {margin-bottom: 20px; border-bottom: 1px solid #565c72; padding-bottom: 20px;}
.logo img {width: 70px;}
.left_blk li a {font-size: 14px; display: block; width: 100%; text-decoration: none!important; display: inline-block; color: #b4b6bd;}
.left_blk li a.act, .left_blk li a:hover {color: #fff;}
.left_blk li a span {width: 0px; overflow: hidden; opacity: 0; transition: all linear 0.1s; display: inline-block;}
.left_blk li a i {opacity: 0.5; width: 27px; transition: all linear 0.2s;}
.left_blk li a.act i, .left_blk li a:hover i {opacity: 1}
/*.left_blk:hover li a i {opacity: 0; width: 0px; display: none;}*/
.left_blk:hover li a span{width:calc(100% - 32px)!important; opacity: 1; position: relative; top: 8px;}
.blue_text {color: #007bff}
.act_icn {cursor: pointer;}
.fr {float: right;}
.dropdown-menu {width: 100%!important;}
.multiselect-container>li>a>label {
    padding-left: 20px!important;
    padding-top: 10px!important;
}
input[type=checkbox], input[type=radio] {height: auto!important;}
body {color: #58666e; font-size: 14px;}
table, .table {font-size: 14px; color: #58666e;}
.right_blk {width: calc(100% - 90px); transition: all linear 0.2s; right: 0px; box-sizing: border-box; background: #f0f1f5; position: fixed; height: 100%; overflow: auto;}

.card_view {width: 100%; background: #fff; border-radius:5px; }
.padding_30 {padding: 30px; box-sizing: border-box;}
.top_ttl_blk {font-size: 16px; color: #58666e; margin-bottom: 0px;width: 100%; box-sizing: border-box; background: #f8f8f8; border-bottom: 1px solid #ddd; padding:15px 30px;}
.over_flw {overflow: hidden;}
.mnu_blk {position: absolute; display: none; top: 25px; cursor: pointer; right: 20px; padding: 10px 0px;}
.menu_icn {position: relative; transition: all linear 0.2s; background: #fff; height:2px; width: 25px;}
.menu_icn:after {content: ' '; transition: all linear 0.2s; position: absolute; top: -8px; left: 0px; width: 25px; height: 2px; background: #fff;}
.menu_icn:before {content: ' '; opacity: 1; transition: all linear 0.2s; position: absolute; bottom: -8px; left: 0px; width: 25px; height: 2px; background: #fff;}
.dis_blk {display: block!important;}
.act_menu .menu_icn:before {opacity: 0;}
.act_menu .menu_icn:after {transform: rotate(84deg); margin-top: 8px;}
.act_menu .menu_icn {transform: rotate(140deg);}
.hdg_bk {padding-bottom: 15px; color: #373c4f; font-weight: bold; overflow: hidden; width: 100%; margin-bottom: 20px; border-bottom: 1px solid #ddd; font-size: 16px;}
.form-group label {font-size: 13px; display: block; font-weight: bold;}
.slct_box {position: relative;}
.fr {float: right;}
.hdg_bk a {font-size: 13px; position: relative; bottom: -4px;}
.top_ttl_blk span {padding-top: 5px; display: inline-block;}
.top_ttl_blk span img {display: block;}
.back_btn {position: relative; bottom: -3px; margin-right: 5px; cursor: pointer;}
.slct_box:after, .arrow_box:before {
	top: 45px;
	right: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.top_ttl_blk a {color: #fff!important; font-size: 14px!important;}
input, select {box-shadow: none!important; outline: none; font-size: 14px!important;}
.org_clr {color: #fb7c00;}
.slct_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #373c4f;
	border-width: 4px;
	margin-left: -4px;
}
.slct_box:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #;
	border-width: 21px;
	margin-left: -21px;
}
.fl {float: left;}
.grn_clr {color: green}
.slct_box select {border: 1px solid #ced4da; -moz-appearance: none;
-webkit-appearance: none; padding: 0px 15px; font-size: 14px; color:#495057; width: 100%; height: 40px; border-radius: .25rem;}
.action_list {margin: 0px; list-style: none; padding: 0px; overflow: hidden;}
.action_list li {float: left;}
.table th {border-bottom: none!important;}
.filter {cursor: pointer;}
.alpha_blk {position: fixed; cursor: pointer; width: 100%; display: none; z-index: 9999; height: 100%; top: 0px; left: 0px; background: rgba(0,0,0,0.5);}
.side_popup {width: 0px; overflow: auto; transition: all linear 0.2s; z-index: 99999; background: #fff; height: 100%; position: fixed; right:0px; top: 0px; }
.opn_slide {width: 460px!important; max-width: 100%; box-sizing: border-box;}
.top_in_op {
    width: 100%;
    text-align: center;
    margin-top: 22px;
    border-left: 1px solid #e9e6e5;
    box-sizing: border-box;
    margin-bottom: 0px;
    cursor: pointer;
}
.res_tbl {max-width: 100%; padding-right: 15px; overflow: auto;}
.top_in_op p {
    font-size: 14px;
    color: #808f97;
    margin-top: 10px;
}
.top_in_op h1 {
    font-size: 30px;
    color: #0088cc;
    text-align: center;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.multiselect {
    border: 1px solid #ced4da;
    font-size: 14px;
    width: 100%;
    text-align: left;
    background: #fff;
}
.modal-body p {
    margin: 0px!important;
}

.modal_footer {
    text-align: center;
    border-top: 0px;
    padding-bottom: 40px;
}

.modal-body {
    padding-top: 40px;
}
.btn-group {
    width: 100%;
}
.dropdown-toggle::after {
    float: right;
    margin-top: 11px;
}
.multiselect-container>li>a>label {padding: 10px 20px 3px 20px!important;}
.multiselect-container>li>a>label>input[type=checkbox] {margin-right: 5px;}
@media(min-width: 701px){
    .left_blk:hover {width: 220px!important; padding:10px 30px;}
    .left_blk:hover ~ .right_blk {width: calc(100% - 220px);}
    }

@media(max-width: 700px){
	.left_blk, .right_blk {width: 100%!important; float: none; position: relative!important;}
	.left_blk {padding: 10px 20px;}
	.left_blk ul {display: none;}
	.logo {padding-bottom: 0px; margin-bottom: 0px; border-bottom: none;}
	.logo img {width: 80px;}
	.mnu_blk {display: block;}

}
.control-label.required:before {
  content:"*";color:red;
>>>>>>> 879a1b5b54a411bf1c5dde2c628913c9b8ea40b0
}