<<<<<<< HEAD
.user_list {width: 100%;}
#usr_lst_tbl th {font-size: 14px;} 
.top_ttl_blk {overflow: hidden; padding: 10px 30px!important;}
.top_ttl_blk .btn {font-size:14px; }
.slct_box:after, .arrow_box:before {top: 16px!important;}
.slct_box {width: 200px; float: right;}
.modal-dialog {z-index: 9999;}
.btn {font: 14px;}
.modal-body h1, .modal-body p {text-align: center;} 
.modal-body p {margin: 0px;}
.modal-body {padding-top: 40px;}
.modal_footer {text-align: center; border-top: 0px; padding-bottom: 40px;}
.top_in_op p {
    font-size: 14px;
    color: #808f97;
    margin-top: 10px;
}
.sho_m {bottom: 0px!important; margin-left: 5px;}
.wh_all {width: 100%; margin-top: 30px;}
.side_popup ul {list-style: none; margin: 0px; overflow: hidden; padding: 0px;}
.side_popup ul li {width: 50%; float: left;}
.mar_btm {margin-bottom: 20px;}
.top_in_op h1 {
    font-size: 30px;
    color: #0088cc;
    text-align: center;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.bor_lf_none .top_in_op {
    border-left: none;
}
.user_type .col-md-2  {padding: 0px!important;}
.user_type .top_in_op  {padding: 0px 15px;}
@media (max-width: 768px) {
    .hdg_bk .slct_box {width: 100%; margin-right: 0px!important;}
=======
.user_list {width: 100%;}
#usr_lst_tbl th {font-size: 14px;} 
.top_ttl_blk {overflow: hidden; padding: 10px 30px!important;}
.top_ttl_blk .btn {font-size:14px; }
.slct_box:after, .arrow_box:before {top: 16px!important;}
.slct_box {width: 200px; float: right;}
.modal-dialog {z-index: 9999;}
.btn {font: 14px;}
.modal-body h1, .modal-body p {text-align: center;} 
.modal-body p {margin: 0px;}
.modal-body {padding-top: 40px;}
.modal_footer {text-align: center; border-top: 0px; padding-bottom: 40px;}
.top_in_op p {
    font-size: 14px;
    color: #808f97;
    margin-top: 10px;
}
.sho_m {bottom: 0px!important; margin-left: 5px;}
.wh_all {width: 100%; margin-top: 30px;}
.side_popup ul {list-style: none; margin: 0px; overflow: hidden; padding: 0px;}
.side_popup ul li {width: 50%; float: left;}
.mar_btm {margin-bottom: 20px;}
.top_in_op h1 {
    font-size: 30px;
    color: #0088cc;
    text-align: center;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.bor_lf_none .top_in_op {
    border-left: none;
}
.user_type .col-md-2  {padding: 0px!important;}
.user_type .top_in_op  {padding: 0px 15px;}
@media (max-width: 768px) {
    .hdg_bk .slct_box {width: 100%; margin-right: 0px!important;}
>>>>>>> 879a1b5b54a411bf1c5dde2c628913c9b8ea40b0
}