@font-face {
    font-family: 'Helvetica-Normal';
    src: url('Helvetica-Normal.woff2') format('woff2'),
        url('Helvetica-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

