.crt_hdg {margin-top: 10px; display: inline-block;}
.padding_crd {padding: 20px 30px}

.clrt_ul {list-style: none; padding: 0px 10px; margin-bottom: 0px;}
.multiselect-selected-text {
    font-size: 13px;
}
.po_cr_blk {padding: 10px 5px!important;}
.po_cr_blk .form-group {margin-bottom: 0px!important;}
.padding_crd .hdg_bk {margin-bottom: 10px;}
.expected_blk {display: none;}
.act_ms {width: 50px!important; text-align: center;}
.id_td {width: 50px!important;}
.date_td {width: 111px!important;}
.list-group-item {cursor: pointer;}
.txt_cnt {text-align: center;}
/*.sl_menu li:hover, .sl_menu .act {background: #373c4f!important; color: #fff; cursor: pointer;}*/
    .adds_blk {width: 100px; display: block; height: 20px; overflow: hidden; transition: all linear 0.2s;}
    .fl_wth {width: 350px;}
    #example_length {display: none;}
    th {border-top:1px solid #ddd; background: #f8f8f8;}
    .tool_tip, .sts_fil_blk {display: none;}
    td, th {position: relative;}
    .tool_tip, .sl_menu, .sts_fil_blk {width: 300px; z-index: 9999; padding:15px; background: #fff; border: 1px solid #ccc; border-radius: 5px; position: absolute; top: 40px; left: 0px;}
    .drp_btn { border: none;}
    .sl_menu  {left: auto; right: 0px; width: 200px; padding: 10px 0px!important;}
    .sl_menu li { list-style: none; cursor: pointer; position: relative; padding-left: 20px;}
    .sl_menu li:after { width: 12px; height: 12px; border: 1px solid #ccc; /*border-radius: 50%;*/ position: absolute; content: ' '; left: 16px; top: 9px; }
     .sl_menu li a {padding: 5px 15px; display: block; width: 100%}
    .sl_menu li:before {border: none; content: '\2713'; left: 18px; top: 2px; z-index: 9; position: absolute; transition: all linear 0.2s; opacity: 1; width: 6px; height: 6px; color: green; font-weight: bold;}
    .sl_menu li.act:before {opacity: 0;}
    .dropdowns {position: absolute; width: 40px; right: 20px; z-index: 99999; margin-top: 2px;}
    .sl_menu {display: none; padding: 0px; margin: 0px;}
    .show {display: block;}
    .sts_pp {position: relative; z-index: 9999; float: right; cursor: pointer;}
    td {position: relative;}
    .sts_fil_blk { background: #373c4f; color: #b4b6bd; width: 200px;
    border-radius: 0px;
    padding: 10px 20px;
    left: auto;
    right: 0px;
    top: 40px;
    border: none; transition: all linear 0.2s;}
    .mar_10_t {margin-top: 10px;}
    .trd_lst {max-height: 150px; overflow: auto;}
    .sts_fil_blk .form-check {font-weight: normal!important; padding: 5px 20px; border: #ccc; background: no-repeat;}
    .sts_pp:after {position: absolute; content: ' '; height: 44px; width: 44px; background: #373c4f; opacity: 0;    top: -12px;
    right: -12px;}
    .sts_pp.ad_tgl:after {opacity: 1;}
    .sts_pp i {right: 5px; position: relative;}
    .sts_pp.ad_tgl i {z-index: 99999; color: #fff;}
.lst_trd table {width: 100%!important; min-width: 839px;}
.modal-body p, .modal-body h1 {text-align: center;}
.mar_btm_20 {margin-bottom: 10px;}
#usr_lst_tbl_length label {display: none;}
.dataTables_length {margin-top:5px;font-size: 16px; font-weight: bold;}
.padding_30 {position: relative; padding: 20px!important;}
#usr_lst_tbl_filter {margin-right: 50px;}
#usr_lst_tbl_filter input {height: 36px; margin-right: 10px;}
.top_ttl_blk {padding: 10px 30px!important; width: calc(100% - 90px)!important; transition: all linear 0.2s;}
.left_blk:hover ~ .right_blk .top_ttl_blk {width: calc(100% - 220px)!important;}
.lst_trd {padding: 0px 0px 0px 0px; width: 100%}
.res_tbl {padding-right: 0px!important;}
.res_tbl .row, .res_tbl .col-sm-12 {padding: 0px; margin: 0px;}
.trd_anl {margin: 0px!important;  float: left; display: inline-block; padding: 0px 10px; padding-top: 5px; box-sizing: border-box; width: 100%;}
.trd_anl li {display: inline-block;}
.top_in_op {text-align: left!important; margin: 0px!important; padding: 0px 15px;}
.top_in_op p {margin-bottom: 0px!important; text-align: left!important; font-size: 12px!important;}
.top_in_op h1 {margin-top: 0px!important; text-align: left!important; font-size: 25px!important;}
.bor_lf_none .top_in_op {border-left: none;}
.crt_blk {width: 100%; /*transition: all linear 0.2s;*/ right: 20px; height: 77px; padding: 10px 20px; box-sizing: border-box; display: inline-block;}
.create_hdg {font-size: 14px; font-weight: bold; margin-bottom: 5px; transition: all linear 0.2s;}
.cre_all_blk {/*position: fixed;*/  width: 100%; /*transition: all linear 0.2s;*/ float: right; padding: 20px 20px 0px 20px; z-index: 999999; background: #fff; border-top:1px solid #f0f1f5; right: 0px; position: relative; top: 0px; display: table;}
/*.ove_auto {overflow: auto; height: 400px;}*/
.ove_auto {width: 100%;}
.wth_100 {width: 100%!important;}
.dis_tbl {display: table;}
.create_hdg {font-size: 16px; margin-bottom: 0px;}
.expand_trade {display: none;}
.expand_trade {display: block;}
.multiselect-container>li>a>label {font-size: 14px;}
.actl_tbl td {padding: 0px!important;}
.actl_tbl tr:first-child td{text-align: center;}
.actl_tbl tr:last-child td {padding: 5px!important;}
.actl_tbl input {border: none;}
/* check wht search */
.check_wt_serc {
	width: 100%; max-width: 300px; /*display: none;*/ padding: 10px 15px; box-sizing: border-box; position: relative; border: 1px solid #ced4da; border-radius: 5px; font-size: 13px;
}
#edt_user .check_wt_serc {width: auto;}
.stp_dis{display: block;}
.check_wt_serc:after {
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: absolute;
    top: 20px; right: 20px;
}
/*.alpha {position: fixed; opacity: 0.5; transition: all linear 0.2s; background: #000; top: 0px; right: 0px; width: 0%; height: 0%; z-index: 99;}*/
/*.ful_alpha {width: 100%!important; height: 100%!important;}*/
.check_wt_serc .check_list {position: absolute; background:#fff; z-index: 1; display: none; max-height: 400px; overflow: auto; top: 40px; margin: 0px; list-style: none; padding: 20px; box-sizing: border-box; width: 260px; left: -1px; background: #fff; border: 1px solid #ddd;}
.check_list input[type=textx]{width: 100%;}
.check_wt_serc {padding-right: 50px;}
.selectVal, .check_wt_serc {display: inline-block;}
.check_list .form-check {margin-bottom: 10px;}
.show_chk {display: block!important;}
.check_list .form-check:last-child {margin-bottom: 0px;}
/*.selectVal:after {position: absolute; content: ' ';z-index: 999; display: none; bottom: -2px; height: 2px; background: #fff; width: 100%; left: 0px;}
.act_v .selectVal:after {display: block;}*/
.act_v {border-radius: 0px;}
.show_va, .sm_blk {font-size: 10px; color: #000; opacity: 0.5; position: absolute; top: 5px; left: 15px; display: none;}
.val_seld .show_va {display: block;}
/*.act_v{padding-bottom: 15px!important;}*/
.val_seld .selectVal {position: relative; bottom: -5px}
.cre_inp {display: none; width: 100%; position: relative; width: 150px; margin-bottom: 6px;}
.cre_inp {display: inline-block; width: 100%; float: left; margin-right: 5px;}
.cre_inp input {font-size: 13px!important;border: none!important; margin-top: 4px; transition: all linear 0.1s;}
.cre_inp {border: 1px solid #ced4da; height: 41px; border-radius: 5px; width: 100%;}
.trd_cr {display: table; padding-top: 20px; padding-bottom: 15px; border-bottom: 1px solid #ddd;}
.check_wt_serc  {margin-right: 5px; margin-bottom: 5px;}
.inp_ss, .cre_inp {overflow: hidden;}
.inp_ss input {margin-top: 9px;}
.we_pr_act {width: 135px!important;}
.ad_trd_m {display: none;}
/*.cre_all_blk .create_hdg {padding-bottom: 10px; border-bottom: 1px solid #ddd;}*/
.ad_trd_m {display: inline-block; font-size: 13px;}
.trd_subm {overflow: hidden; width: 100%; /*display: none;*/ padding:10px 0px 10px 0px; position: relative;
    width: 100%;
    right: 0px;}
    .remv_blk a {display: block; line-height: 40px; text-align: center;}
    .remv_blk {border-color: #007bff!important;}
.trd_cr.sec_blk {display: none;}
.trd_subm {display: inline-block;}
.btn {font-size: 13px;}
.ad_mr_trd {margin-right: 10px;}
.bl_clr {color: #007bff;}
/* check wht search*/
.cl_pal {position: relative; float: right; right: 0px; z-index: 999999999; margin-right: 25px; top: 0px; width: 30px; width: 0px; height: 0px;}
.trd_ad_lst {display: none; width: 100%;}
.trd_ad_lst {display: table; margin-bottom: 5px;}
.c_trd_blk {width: 300px; display: none; margin-right: 10px; margin-top: 5px; margin-bottom: 5px; box-sizing: border-box; padding: 15px; border: 1px solid #ddd; float: left; position: relative;}
.show_ad_m .c_trd_blk {display: block;}
.c_trd_blk .usr_nm {font-size: 14px; margin-bottom: 5px; max-height: 40px; overflow:hidden;}
.c_trd_blk .trd_nm {font-size: 12px; margin-bottom: 5px}
.prc_blk, .cnt_blk {font-size: 14px; font-weight: bold; margin-bottom: 5px; display: table; width: 100%;}
.prc_blk div {width: 50%; float: left;}
.dr_e_btns {margin-top: 10px;}
.dr_e_btns .btn {width: 100%;}
.dr_e_btns .col-md-6:nth-child(2) {padding-left: 5px;}
.dr_e_btns .col-md-6:nth-child(1) {padding-right: 5px;}
.prc_blk small, .cnt_blk small {font-size: 11px; font-weight: normal;}
.cnt_blk div {width: 33.3%; float: left;}
.cl_crt_trd {display: none; z-index: 999999999; right: 0px; position: absolute; top: 20px;}
div.dataTables_wrapper div.dataTables_filter label {color: #fff; width: 100%;}
.dataTables_info {display: none;}
div.dataTables_wrapper div.dataTables_filter label input {color: #58666e; width: calc(100% - 5px);}
.trade_create {width: 0px; transition: all linear 0.2s; height: calc(100% - 50px); top:53px;  right: 10px; overflow-x: hidden; background: #fff; position: fixed;}
.sh_trade_create {width: 300px;}
.trd_cr_r {width: calc(100% - 20px);; transition: all linear 0.2s; margin-left: 10px; float: left;}
.table {margin-bottom: 0px;}
.table td, .table th {vertical-align: middle;}
.trd_c_row {width: 100%; overflow: hidden;}
.trd_c_cel {width: calc(50% - 5px); float: left;}
.trd_c_cel:nth-child(even){float: right;}
.exp_ttl {display: block; margin: 10px 0px;}
.trd_subm .btn {width: 100%; height: 35px;}
.cl_crt{font-size: 10px; padding:4px; margin-left: 5px; position: relative; top: -2px; cursor: pointer; width: 20px; height: 20px; display: inline-block; border: 1px solid #007bff; border-radius: 50%; font-weight: bold; color: #007bff; transition: all linear 0.2s; transform: rotate(45deg);}
/*.crt_link {transform: rotate(0deg)!important; margin-right: 10px;}*/
#edt_user_id {width: 850px; padding:20px 30px; background: #fff; position: fixed; left: 50%; margin-left: -425px; top: 30px; display: none; z-index: 999999;}
.act_icn {padding: 5px 10px;}
.hdg_bks {font-size: 16px; font-weight: bold;}
.us_sel {list-style: none; padding: 0px; margin: 0px; margin-top: 10px;}
.us_sel li {display: inline-block; margin-right: 10px;}
.ap_blk {position: fixed; width: 100%; height: 100%; background: #000; background: #000; opacity: 0.5; display: none; cursor: pointer; z-index: 999;}
.sb_hdg_blk {padding: 10px 0px; font-size: 14px; font-weight: bold;}
.sb_hdg_blk a {font-size: 13px; font-weight: normal;}
.exp_tbl small {font-size: 11px; display: block; color: #818e96;}
.exp_tbl p {font-size: 13px; color: #58666e; margin: 0px; padding: 0px;}
.exp_tbl td {padding:0px 5px; background: none!important; border: none;}
#edt_user_id {max-height: 600px; overflow: auto;}
#edt_user_id table {min-width: 100%; border: 1px solid #e2e2e2;}
#edt_user_id table tr td:first-child {border-left: none;}
.pop_res_tbl table.exp_tbl tr:nth-child(odd) td {font-size: 13px; background: rgba(0,0,0,.03);}
#edt_user_id td {font-size: 13px;}
.exp_tbl td:first-child {padding-left: 0px;}
.exp_tbl td:last-child {padding-right: 0px;}
#edt_user_id table tr td input {height: 30px; font-size: 13px!important;}
/*.bdr_l_none {border-left: none!important;}*/
/*.actl_tbl tr:nth-child(odd) { background: #f8f8f8;}*/
.actl_tbl tr td, .actl_tbl tr th { padding: 5px 10px; font-size: 13px; border-left: 1px solid #dadde3;}
.actl_tbl tr td:first-child, .actl_tbl tr th:first-child {border-left: none;} 
.gr_ttl {font-weight: bold; text-align: right;}
.txt_rt {text-align: right;}
.actl_tbl th {
    color: #58666e; 
    padding: 5px 10px; 
    font-size: 14px; 
    font-weight: bold; 
    background: #eae9e9;
}
/*.crt_link {margin-top: 15px;}*/
.extra_tbl tr td:first-child {padding: 0px 0px 0px 5px!important;}
.extra_tbl tr td:last-child {padding: 0px!important;}
.extra_tbl tr:last-child  td{padding: 5px!important;}
.extra_tbl tr td input {border: none;}
.extra_tbl {margin-top: 10px; width: 290px!important; float: right; min-width: 290px!important;}
td.far_bg {background: rgba(157, 168, 202, 0.1)!important;}
td.com_bg {background: rgba(134, 94, 62, 0.1)!important;}
.actl_tbl th.far_bg {background: rgba(157, 168, 202, 0.1); text-align: center;}
.actl_tbl th.com_bg {background: rgba(134, 94, 62, 0.1); text-align: center;}
.total {font-weight: bold; text-align: right;}
.sb_btm {margin-top: 10px; clear: both;}
.exp_tbl .cre_inp {background: #fff; height: 36px; margin-bottom: 0px;}
.exp_tbl .cre_inp .sm_blk {left: 12px; top: 3px;}
.exp_tbl .cre_inp input {margin-top: 2px;}
.exp_tbl .cre_inp.inp_ss input {margin-top: 9px;}
.sb_btm .btn {margin-left: 10px;}
.clr_btn {clear: both;}
.stat_blk {width: 80px!important; }
.cnt_wth {width: 70px!important;}
.weig {width: 90px!important; }
/*.dsh_bdr {width: 100; height: 1px; border-top: 1px dashed #ccc; margin:10px 0px 0px 0px;}*/
.weig input {max-width: 90px;}
.amn_blk {width: 120px!important;}
.exp_tbl  {border: none!important;}
@media(min-width: 1200px){
    .top_ttl_blk {position: fixed; z-index: 9999999}
    .trd_cr_r {padding-top: 60px;}
    }
@media(max-width: 895px){
    .trd_anl, .crt_blk{width: 100%;}
}

@media(max-width: 850px){
#edt_user_id {width: 90%; height: 90%; left: 5%; top: 5%; margin-left: 0px;}
.ap_blk {top: 0px;}

}

@media(min-width: 701px){
    .trd_cr_r_r {width: calc(100% - 330px);}
}

@media(max-width: 700px){
    .left_blk, .left_blk:hover {
        min-width: 100%!important; 
        width: 100%!important;}
    .trade_create {top: 49px; position: absolute; right: 0px; border: 1px solid #ccc; z-index: 999999;}
    .tooltip {display: none;}
    .top_ttl_blk {width: 100%!important; min-width: 100%; padding:10px!important;}
    
    .pop_res_tbl .table {min-width: 800px!important}
    .pop_res_tbl {width: 100%; overflow: auto;}
    .dataTables_length {text-align: left!important;}
    div.dataTables_wrapper div.dataTables_filter input {margin-left: 0px!important;}
    .dropdowns {margin-top: 30px;}
    #edt_user_id .us_sel li {width: 100%}
}
   